AddDefaultCharset utf-8

Options -Indexes +MultiViews

# www -> nowww  + http -> https
RewriteEngine On
RewriteCond %{HTTP:X-HTTPS} !1 [OR]
RewriteCond %{HTTP_HOST}  ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R,L]
